{{ 'blaze.css' | asset_url | stylesheet_tag }}
{% assign unique_class =  section.id | slice: -5, 5   %}
<div class="color-{{ section.settings.color_scheme }}">
    <div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {% if section.settings.heading %}
        <h2 style="text-align: center; margin-top: 0; padding-top: 2em;">{{ section.settings.heading }}</h2>
      {% endif %}
      <div class="blaze-slider-{{ unique_class }}">
        <div class="blaze-container">
          <div class="blaze-track-container">
            <div class="blaze-track">
              {% for block in section.blocks %}
                {% assign link = '#' %}
                  {% if block.settings.link %}
                    {% assign link = block.settings.link %}
                  {% endif %}
                <div>
                  <a href="{{ link }}" class="blaze-slide">
                    <img src="{{ block.settings.image | img_url: '200x200' }}" alt="{{ block.settings.image.alt }}">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{{ 'blaze-slider.js' | asset_url | script_tag }}
<script>
  const el_{{ unique_class }} = document.querySelector('.blaze-slider-{{ unique_class }}')
  new BlazeSlider(el_{{ unique_class }}, {
    all: {
      enableAutoplay: {{section.settings.autoplay | json }},
      autoplayInterval: {{ section.settings.interval }},
      autoplayDirection: "{{ section.settings.direction }}",
      transitionDuration: {{ section.settings.duration }},
      slidesToShow: {{ section.settings.mobile-item-count }},
      slideGap: {{ section.settings.mobile-item-gap }} + "px",
      slidesToScroll: {{ section.settings.mobile-item-scroll }},
      stopAutoplayOnInteraction: {{ section.settings.interaction-pause | json }},
      transitionTimingFunction: "{{ section.settings.transition-timing }}"
    },
    '(min-width: 768px)': {
      slidesToShow: {{ section.settings.tablet-item-count }},
      slideGap: {{ section.settings.tablet-item-gap }}+ "px",
      slidesToScroll: {{ section.settings.tablet-item-scroll }}
    },
    '(min-width: 1200px)': {
      slidesToShow: {{ section.settings.desktop-item-count }},
      slideGap: {{ section.settings.desktop-item-gap }}+ "px",
      slidesToScroll: {{ section.settings.desktop-item-scroll }}
    },
  })
</script>
{% schema %}
{
  "name": "t:sections.creative-carousel.name",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.creative-carousel.settings.heading.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.creative-carousel.settings.color_scheme.info",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.creative-carousel.settings.include_margins.label"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": true,
      "label": "t:sections.creative-carousel.settings.autoplay.label"
    },
    {
      "type": "checkbox",
      "id": "interaction-pause",
      "default": true,
      "label": "Interaction Pause"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        {
          "value": "to left",
          "label": "Left"
        },
        {
          "value": "to right",
          "label": "Right"
        }
      ],
      "default": "to right"
    },
    {
      "type": "range",
      "id": "interval",
      "label": "Carousel Interval",
      "default": 6000,
      "max": 9900,
      "min": 100,
      "step": 100,
      "unit": "ms"
    },
    {
      "type": "range",
      "id": "duration",
      "label": "Transition Duration",
      "default": 300,
      "max": 9900,
      "min": 100,
      "step": 100,
      "unit": "ms"
    },
    {
      "type": "select",
      "id": "transition-timing",
      "label": "Transition Timing",
      "options": [
        {
          "value": "ease",
          "label": "Ease"
        },
        {
          "value": "linear",
          "label": "Linear"
        },
        {
          "value": "cubic-bezier(.18,.74,.2,1.27)",
          "label": "Bounce"
        }
      ],
      "default": "ease"
    },
    {
      "type": "range",
      "id": "mobile-item-count",
      "label": "Items Shown (Mobile)",
      "default": 1,
      "max": 3,
      "min": 1,
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile-item-gap",
      "label": "Item Gap (Mobile)",
      "default": 25,
      "max": 100,
      "min": 0,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile-item-scroll",
      "label": "Item Scroll (Mobile)",
      "default": 1,
      "max": 3,
      "min": 1,
      "step": 1
    },
    {
      "type": "range",
      "id": "tablet-item-count",
      "label": "Items Shown (Tablet)",
      "default": 4,
      "max": 6,
      "min": 1,
      "step": 1
    },
    {
      "type": "range",
      "id": "tablet-item-gap",
      "label": "Item Gap (Tablet)",
      "default": 50,
      "max": 200,
      "min": 0,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "tablet-item-scroll",
      "label": "Item Scroll (Tablet)",
      "default": 1,
      "max": 6,
      "min": 1,
      "step": 1
    },
    {
      "type": "range",
      "id": "desktop-item-count",
      "label": "Items Shown (Desktop)",
      "default": 6,
      "max": 8,
      "min": 1,
      "step": 1
    },
    {
      "type": "range",
      "id": "desktop-item-gap",
      "label": "Item Gap (Desktop)",
      "default": 50,
      "max": 300,
      "min": 0,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "desktop-item-scroll",
      "label": "Item Scroll (Desktop)",
      "default": 1,
      "max": 6,
      "min": 1,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "Creative Carousel"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.creative-carousel.blocks.item.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.creative-carousel.blocks.item.settings.link.label",
          "default": "t:sections.creative-carousel.blocks.item.settings.link.default"
        },
        {
          "type": "text",
          "id": "alt-text",
          "label": "t:sections.creative-carousel.blocks.item.settings.alt-text.label"
        }
      ]
    }
  ]

}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}

{% endjavascript %}