{{ 'blaze.css' | asset_url | stylesheet_tag }}
<div class="color-{{ section.settings.color_scheme }}">
    <div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {% if section.settings.heading %}
        <h2 style="text-align: center;">{{ section.settings.heading }}</h2>
      {% endif %}
      <div class="blaze-slider">
        <div class="blaze-container">
          <div class="blaze-track-container">
            <div class="blaze-track">
              {% for block in section.blocks %}
                {% assign link = '#' %}
                  {% if block.settings['logo-link'] %}
                    {% assign link = block.settings['logo-link'] %}
                  {% endif %}
                <div>
                  <a href="{{ link }}" class="blaze-slide">
                    <img src="{{ block.settings.image | img_url: '200x200' }}" alt="{{ block.settings.image.alt }}">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{{ 'blaze-slider.js' | asset_url | script_tag }}
<script>
  const el = document.querySelector('.blaze-slider')
  new BlazeSlider(el, {
    all: {
      enableAutoplay: {{section.settings.autoplay | json }},
      autoplayInterval: {{ section.settings.interval }},
      transitionDuration: {{ section.settings.duration }},
      slidesToShow: {{ section.settings.mobile-item-count }},
      slideGap: '50px'
    },
    '(min-width: 768px)': {
      slidesToShow: 3,
    },
    '(min-width: 1200px)': {
      slidesToShow: 4,
    },
  })
</script>
{% schema %}
{
  "name": "t:sections.creative-carousel.name",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.creative-carousel.settings.heading.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.creative-carousel.settings.color_scheme.info",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.creative-carousel.settings.include_margins.label"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "default": true,
      "label": "t:sections.creative-carousel.settings.autoplay.label"
    },
    {
      "type": "range",
      "id": "interval",
      "label": "Carousel Interval",
      "default": 6000,
      "max": 9900,
      "min": 100,
      "step": 100,
      "unit": "ms"
    },
    {
      "type": "range",
      "id": "duration",
      "label": "Transition Duration",
      "default": 300,
      "max": 9900,
      "min": 100,
      "step": 100,
      "unit": "ms"
    },
    {
      "type": "range",
      "id": "mobile-item-count",
      "label": "Items Shown (Mobile)",
      "default": 1,
      "max": 3,
      "min": 1,
      "step": 1,
      "unit": "items"
    }

  ],
  "presets": [
    {
      "name": "Creative Carousel"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.creative-carousel.blocks.item.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.creative-carousel.blocks.item.settings.link.label",
          "default": "t:sections.creative-carousel.blocks.item.settings.link.default"
        },
        {
          "type": "text",
          "id": "alt-text",
          "label": "t:sections.creative-carousel.blocks.item.settings.alt-text.label"
        }
      ]
    }
  ]

}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}

{% endjavascript %}