<div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="slider-grid color-scheme-3">
    <div class="csf-slider-left page-width element-margin-top color-scheme-3">
      {% for block in section.blocks %}
        {%  assign link = '#' %}
        {% if block.type == 'side-link' %}
          {% if block.settings.side-link-url %}
            {% assign link = block.settings.side-link-url %}
            {% endif %}
          <a href="{{ link }}" class="slider-anchor">{{  block.settings.image | image_url: height: 100 | image_tag: alt: block.settings.side-link-alt-text }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="csf-slider-right">
      {% assign slide-count = 0 %}
      {% for block in section.blocks %}
        {%  assign link = block.settings.slide-url %}
        {% if block.type == 'slide' %}
          <a href="{{ block.settings.slide-url }}" class="slider-anchor slide-{{ slide-count }}">
            {{  block.settings.slide-image | image_url: height: 1200 | image_tag: alt: block.settings.slide-alt-text }}
          </a>
          {% assign slide-count = slide-count |  plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "CSF Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.csf-slider.settings.include_margins.label"
    }
  ],
  "presets": [
    {
      "name": "CSF Slider"
    }
  ],
  "blocks": [
    {
      "name": "Side Link",
      "type": "side-link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "side-link-alt-text",
          "label": "Alt Text"
        },
        {
          "type": "url",
          "id": "side-link-url",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    },
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide-image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "slide-alt-text",
          "label": "Alt Text"
        },
        {
          "type": "url",
          "id": "slide-url",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ]

}
{% endschema %}
{% stylesheet %}
.slider-grid{
  display: grid;
  grid-template-columns: 1fr;
}
.csf-slider-left{
  display: grid;
  grid-template-columns: 1fr 1fr;
  order: 1;
}
.csf-slider-left img{
width: 100%;
height: auto;
}
.csf-slider-right{
  order: 0;

}
.csf-slider-right a {
display: none;
opacity: 0;
transition: all 1s ease-in-out;
}

.csf-slider-right a.active {
display: block;
opacity: 1;
}
.csf-slider-right img{
  object-fit: cover;
  width: 100%;
aspect-ratio: 1/1;
max-height: 400px;
}


.slider-anchor{
  line-height: 0;
  font-size: 0;
}


@media screen and (min-width: 768px) {
  .slider-grid{
  grid-template-columns: 1fr;
  }
  .csf-slider-left{
  grid-template-columns: 1fr 1fr 1fr;
  order: 1;
  }
  .csf-slider-left img{
  width: 100%;
  }
  .csf-slider-right{
  order: 0;
width: 100%;
  }

.csf-slider-right img{
  aspect-ratio: 2/1;
}
}

{% endstylesheet %}
{% javascript %}
document.addEventListener("DOMContentLoaded", function() {
const slides = document.querySelectorAll(".csf-slider-right .slider-anchor");
let currentIndex = 0;
const slideInterval = 9000; // 9 seconds for each slide

function showSlide(index) {
slides.forEach((slide, i) => {
if (i === index) {
slide.classList.add("active");
} else {
slide.classList.remove("active");
}
});
}

function nextSlide() {
currentIndex = (currentIndex + 1) % slides.length;
showSlide(currentIndex);
}

// Initially show the first slide
showSlide(currentIndex);

// Set an interval to automatically cycle through slides
setInterval(nextSlide, slideInterval);
});
{% endjavascript %}