{% if product.metafields.custom.featured_articles %}
    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} color-{{ section.settings.color_scheme }}">
<div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} yt-padding color-{{ section.settings.color_scheme }}">
    <h2>Featured Articles</h2>
    {% assign articles = product.metafields.custom.featured_articles %}
    {% assign images = product.metafields.custom.featured_article_images %}
    {% if articles.value.size != images.value.size %}
        <p style="background-color: red; color: white; margin-right: auto; padding: 10px;"><strong>You have {{ articles.value.size }} articles, and {{ images.value.size }} article images. Please ensure you have equal amount of featured images for your featured articles.</strong></p>
    {%  else  %}
        <div class="article-grid">
            {% for image in images.value %}
                {% assign count = forloop.index0 %}
                <div class="article-wrapper">
                    <a href="{{ articles.value[count].url}}" target="_blank">
                        <img src="{{ image }}" alt="{{ articles.value[count].text }}" style="max-width: 100%;"/></a>
                        <p><a href="#" class="color-{{ section.settings.color_scheme }}">{{ articles.value[count].text }}</a></p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
    </div>
{% endif %}
{% schema %}
{
  "name": "Featured Articles",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.featured-articles.settings.include_margins.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [{
    "name": "Featured Articles"
  }],
  "templates": ["product"]
}
{% endschema %}
{%  stylesheet %}
.article-grid{
    display: grid;
    grid-template-columns: 1fr;
    transition: all ease-in-out 0.3s;
}
.article-wrapper{
    width: 100%;
}
@media screen and (min-width: 611px) {
    .article-grid{
    grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 900px) {
    .article-grid{
    grid-template-columns: 1fr 1fr 1fr;
    }
}
{%  endstylesheet %}
{%  javascript %}
{%  endjavascript %}