{{ 'blaze.css' | asset_url | stylesheet_tag }}
<div class="color-{{ section.settings.color_scheme }}">
    <div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="blaze-slider">
        <div class="blaze-container">
          <div class="blaze-track-container">
            <div class="blaze-track">
              {% for block in section.blocks %}
                {% assign link = '#' %}
                  {% if block.settings['logo-link'] %}
                    {% assign link = block.settings['logo-link'] %}
                  {% endif %}
                <div>
                  <a href="{{ link }}" class="blaze-slide">
                    <img src="{{ block.settings.image | img_url: '250x250' }}" alt="{{ block.settings.image.alt }}">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{{ 'blaze-slider.js' | asset_url | script_tag }}
<script>
  const el = document.querySelector('.blaze-slider')
  new BlazeSlider(el, {
    all: {
      enableAutoplay: true,
      autoplayInterval: 6000,
      transitionDuration: 300,
      slidesToShow: 3,
    },
    '(max-width: 768px)': {
      slidesToShow: 2,
    },
    '(min-width: 1200px)': {
      slidesToShow: 6,
    },
  })
</script>
{% schema %}
{
  "name": "Featured Logos",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.feat-logo.settings.include_margins.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.feat-logo.settings.color_scheme.info",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Featured Logos"
    }
  ],
  "blocks": [
    {
      "name": "Logo Link",
      "type": "logo-link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "logo-link-url",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "text",
          "id": "side-link-alt-text",
          "label": "Alt Text"
        }
      ]
    }
  ]

}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}

{% endjavascript %}