{% if product.metafields.custom.custom_finishes %}
<div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} color-{{ section.settings.color_scheme }}">
    <div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} yt-padding color-{{ section.settings.color_scheme }}">

    <h2>Custom Finish Gallery</h2>
    {% assign finishes = product.metafields.custom.custom_finishes %}
    <div class="finish-grid">
            {% for finish in finishes.value %}
                <div class="finish-wrapper">
                        <img src="{{ finish.url }}" alt="{{ finish.text }}" class="img-responsive"/>
                        <p>{{ finish.text }}</p>
                </div>
            {% endfor %}
    </div>
</div>
</div>
{% endif %}
{% schema %}
{
  "name": "Custom Finishes",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.product-custom-finishes.settings.include_margins.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [{
    "name": "Custom Finishes"
  }],
  "templates": ["product"]
}
{% endschema %}
{%  stylesheet %}
.finish-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all ease-in-out 0.3s;
    column-gap: 20px;
}
.finish-wrapper{
    width: 100%;
}
.img-responsive{
    width: 100%;
}
@media screen and (min-width: 611px) {
    .finish-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 900px) {
    .finish-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
{%  endstylesheet %}
{%  javascript %}
{%  endjavascript %}